* {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  max-width: 1110px;
  padding-top: 35px;
}

header a {
  color: #911c1c;
}

#logo {
  font-size: 40px;
  font-weight: bolder;
  margin: 0 127px 0 60px;
}

header i {
  color: white;
  -webkit-text-stroke: 3px #911c1c;
  font-size: 32px;
  margin: 0 3px;
}

#return-main {
  display: none;
  background: #db8876;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  position: fixed;
  left: 669px;
  top: 10px;
  height: 30px;
  width: 182px;
  text-align: center;
}

#return-main p {
  margin-top: 4px;
}

#header-navbar {
  display: flex;
  align-items: center;
}

#header-navbar a {
  margin: 6px 3px 0 3px;
  font-size: 12px;
}

header span,
#photographers a span,
.photographerPage-tag a span {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  padding: 1px 6px;
  color: #911c1c;
  font-weight: bolder;
  margin-right: 5px;
}

.tag:hover,
.tag:focus,
.active-tag {
  color: #fff;
  background-color: #901c1c;
  border: 1px solid transparent;
}

.tag:hover a,
.tag:focus a,
.active-tag a {
  color: #fff;
}

.span-hidden {
  /*position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;*/
  border: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  position: absolute;
  right: 100px;
  top: 48px;
  margin: 0;
  font-size: 36px;
  color: #901c1c;
}

#photographers {
  display: flex;
  flex-wrap: wrap;
}

.photographer {
  text-align: center;
  width: 310px;
  height: 345px;
  margin: 148px 90px 10px 90px;
}

#photographers img,
#presentation-photographer img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#presentation-photographer img {
  margin: 60px 30px 0 0;
}

.photographer h2 {
  font-size: 36px;
  color: #d3573c;
  font-weight: normal;
}

.photographer h3 {
  font-size: 15px;
  color: #901c1c;
  margin: 5px;
}

.photographer p {
  font-size: 12px;
  margin: 0;
}

.photographer span {
  font-size: 11px;
  color: #757575;
}

.photographer_tag {
  padding: 0 0 120px 0;
}

/* photographer page */

#photographer-page {
  justify-content: flex-start;
  display: flex;
  margin: 0 60px;
}

#presentation-photographer {
  display: flex;
  background-color: #fafafa;
  margin: 35px 0 10px 0;
  padding: 0 35px 50px 35px;
  width: 100%;
  justify-content: space-between;
}

#presentation-photographer h2 {
  color: #901c1c;
}

.photographer-name {
  font-size: 40px;
  font-weight: normal;
  color: #d3573c;
  margin: 45px 0 0 0;
}

.photographerPage-tag a {
  margin-right: 5px;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 0;
  background-color: #901c1c;
  height: 55px;
  width: 130px;
  color: white;
  border: transparent;
  border-radius: 5px;
  margin: 50px 400px 50px 50px;
}

.image-photographer {
  margin: 50px 0 0 200px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  order: 2;
}

/*  Select */
#select-option,
.is-selected {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
}

#select-option select,
.is-selected {
  display: none; /*hide original SELECT element: */
}

.select-selected,
.is-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* */

.sorting label {
  font-weight: bold;
  margin-right: 30px;
}

#btn-sort,
#btn-sort__selected {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: normal;
  font-size: 1.1rem;
  height: 16px;
  width: 168px;
  padding: 0 10px;
}

#btn-sort {
  display: flex;
  padding: 1rem;
  height: 50px;
}

.fa-chevron-down {
  display: none;
}

.listOption {
  /*display: none;*/
  list-style: none;
  position: absolute;
  top: 43px;
  z-index: 1;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  width: 166px;
  margin: 0;
  padding: 1px;
}

.listOption li {
  border-top: 1px solid white;
  height: 25px;
  display: flex;
  margin: 0 10px 10px 10px;
  padding: 13px 0 0 0;
  align-items: center;
}

/*#btn-sort__selected {
  padding: 0.2rem 0;
}*/

/*.sorting .select {
  color: white;
  position: relative;
}*/

/*.hidden {
  display: none;
}
.active-option {
  color: #fff;
  background-color: #901c1c;
  border: 1px solid transparent;
}

.media__container {
  width: 350px;
  cursor: pointer;
  -webkit-animation: fade-in 2s forwards;
  animation: fade-in 2s forwards;
  -webkit-tap-highlight-color: transparent;
}

#select-option {
  display: inline-block;
  position: absolute;
  border: none;
  border-radius: 5px;
  min-width: 165px;
  background-color: #901c1c;
}

#btn-sort,
#btn-sort__selected {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.1rem;
  /*height: 50px;
  width: 168px;
  padding: 0 10px;


#btn-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
}

#btn-sort__selected {
  padding: 0.2rem 0;
}

.listOption {
  display: none;

  /*list-style: none;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #901c1c;
  border-radius: 5px;
  width: 168px;
  margin: 0;
  padding: 1px;
}

.select li:first-of-type {
  padding-top: 0;
}

.btn-option {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid;
  color: white;
  /*background-color: #901c1c;
  height: 50px;
  width: 158px;
  text-align: inherit;
  font-size: 18px;
  margin-left: 10px;
  border: none;
}

.select i {
  position: absolute;
  right: 18px;
}

.sorting select::after {
}

.select option[selected] {
  display: none;
}

#selectFilter * {
  background-color: palevioletred;
}

#selectFilter .hidden * {
  display: none;
}*/

.image-photographerBox {
  width: 300px;
  height: 300px;
  margin: 50px 0 0 0;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.box-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 50px;
  padding: 0;
}

.box-list-presentation {
  color: #901c1c;
  flex-direction: column;
  margin: 10px 70px;
  font-size: larger;
  width: 300px;
}

.box-list-presentation__titleDate,
.box-list-presentation__priceLike {
  display: flex;
  justify-content: space-between;
}

.box-list-presentation p {
  margin: 0 0 5px 0;
  width: 190px;
}

.media-video,
.media-image {
  margin: 0 70px 0 70px;
}

#video {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 50px 0 0 0;
  border-radius: 5px;
}

.presentation-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  height: 55px;
}

.presentation-photo p {
  font-size: 17px;
  margin: 0;
}

.presentation-photo span {
  font-size: 17px;
}

.presentation-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  height: 55px;
}

.child-presentation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.child-presentation p {
  font-size: 17px;
  margin: 0;
}

.presentation-video span {
  font-size: 17px;
}

.likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 285px;
  background-color: #db8876;
  position: fixed;
  right: 40px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

/* Modal Contact */

#bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.sectionFormOpen {
  display: block;
}

.sectionFormClose {
  display: none;
}

.formData {
  margin-bottom: 10px;
  margin: 0 20px;
}

label {
  color: black;
  font-size: 22px;
}

.text-control {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.text-control--modified {
  width: 100%;
  height: 100px;
  border: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit {
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  width: 115px;
  height: 45px;
  margin: 20px;
}

#header-form {
  margin: auto;
}

#modal-name {
  display: block;
  color: black;
  font-size: 45px;
  margin: 0 100px 22px 18px;
}

#modal-message {
  height: 90px;
  color: black;
  font-size: 20px;
  margin: 90px;
}

.error {
  font-size: 1rem;
  color: #c31212;
  display: block;
}

/* Modal Carousel */

#carousel {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

#carousel__div {
  margin: 5% auto;
  max-height: 1024px;
  width: 100%;
  max-width: 1440px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: white;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

#carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel video {
  display: block;
  position: absolute;
  left: 195px;
  max-width: 1050px;
  width: 100%;
  max-height: 899px;
  height: 100%;
  object-fit: cover;
}

.carousel__div--container {
  background: white;
  padding: 10px;
  height: 900px;
  width: 100%;
  max-width: 1050px;
  margin: 50px auto;
}

.carousel__gallery--container {
  height: 100%;
}

.carousel__viewport--image,
.carousel__viewport--video {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
}

.btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  touch-action: manipulation;
}

a .arrow {
  border: solid #901c1c;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
  position: absolute;
  right: 125px;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  margin: auto -2em auto 0;
  position: absolute;
  left: 125px;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

#closeCarousel {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  color: #901c1c;
}

#closeCarousel::before,
#closeCarousel:after {
  background-color: #901c1c;
}

#Carousel__title__image {
  color: #901c1c;
  font-size: 24px;
}

@media screen and (max-width: 764px) {
  header {
    padding: 0;
    max-width: 0;
  }

  #logo {
    position: absolute;
    margin: 0 0 0 10px;
  }

  #header-navbar {
    position: absolute;
    top: 100px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .return-main {
    display: none;
  }

  main {
    width: 100%;
    flex-direction: column;
  }

  #photographers {
    margin-top: 100px;
  }

  .title {
    font-size: 14px;
    top: 35px;
    right: 30px;
  }

  .photographer {
    width: 100%;
    margin: 70px 0;
  }

  /*page photographer */

  #presentation-photographer {
    background-color: white;
    padding: 0;
    margin: 35px 0 10px 10px;
    max-width: 310px;
  }

  #photographer-page {
    margin: 0;
  }

  .photographer-name {
    font-size: 30px;
    font-weight: bold;
  }

  #presentation-photographer h2 {
    font-size: 20px;
  }

  #presentation-photographer p {
    font-size: 12px;
  }

  /*.open {
    order: 2;
    position: fixed;
    right: 110px;
    bottom: 0;
    margin: 50px;
    padding: 10px 35px;
  }*/

  /**/

  .media-image,
  .media-video {
    width: 100%;
    margin: 0 20px;
  }

  .image-photographer {
    order: 1;
    margin: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    right: 30px;
    top: 90px;
  }

  .video-link {
    text-align: center;
    width: 100%;
    margin: 0 20px;
  }

  #video {
    width: 100%;
  }

  .box-list {
    margin-top: 7px;
  }

  .box-list li {
    text-align: center;
    width: 100%;
    margin: 0 20px;
  }

  .image-photographerBox {
    width: 100%;
    margin: 0;
  }

  .selectFilter {
    display: none;
  }

  .likes {
    display: none;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
